* {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
    scroll-behavior: smooth;
  }

  a{
      color: inherit;
      text-decoration: none;
  }
/********* Navigation styles *************************/


#navbar{
    height: 50px;
    background:#333333;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
#navbar ul{
    display: flex;
    list-style-type: none;
    
}
#navbar ul li{
    padding: 0px 20px;
}
#navbar ul a{
    text-decoration: none;
    color: #ffffff;
    
}

/*************welcome section design ******************/

#welcome-section{
    background: #303841;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-section h1{
    font-size: 60px;
    color: #ffffff;
    font-family: monospace;
}
#welcome-section span{
    color: #be3144;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 32px;
    font-family: cursive;

}
/************ Project section styles ****************/
#projects{
    height: auto;
    background: #d7d7d7;
    display:flex;
    flex-wrap:wrap;
    box-sizing: border-box;
    padding: 20px;
    justify-content: space-between;
}

.projects__card{
    height: 320px;
    width: 300px;
    margin : 20px;
    min-width: 300px;
    text-align: center;
    background: #ffffff;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    position: relative;
}
.project-tile{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: #303841;
    color: #ffffff;
    cursor: pointer;
}
.project-tile .code{
    color: #303841;
    transition: 0.5s ease-in;
}

.project-tile:hover .code{
    color: #ffffff;
    color: orange;
}

/************ contact page styles ***********************/

#contact {
  background: #303841;
  height: 400px;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
}

#contact h1{
    font-size: 50px;
    font-weight:600;
    color: #ffffff;
    font-family: monospace;
}

#contact p{
    color: #ffffff;
    font-style: italic;
    font-weight: lighter;
    margin: 20px 0px;
    font-size: 20px;
}

#contact ul {
  display: flex;
  list-style-type: none;
  width: 80%;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 80px;
}

#contact ul li{
    margin-top: 0px;
    transition: 0.3s ease;
    transform: scale(1);
}
#contact ul li:hover{
    transform: scale(1.1);
}

#contact a {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}


@media screen and (max-width : 400px){
    #welcome-section{
        background: black;
    }
}